*
!bin/
!bin/**
!chrome/
!chrome/**
!utils/
!utils/**
!scripts/
!scripts/postinstall.js
!scripts/rebuild-pty.js
!dist-ui/
!dist-ui/**
!index.js
!preload.js
!build/
!build/icon.png
!build/icon.icns
!build/icon.ico
!README.md
